<ion-content  [fullscreen]="true">
  @if (authService.currentUser$ |async; as currentUser) {
    <div class="side-nav">
      <div class="profile-image-nav-container" [style.background-image]="imagesService.getImgProfileCurrentUser(currentUser)"></div>

      <div class="nav-page-container">
        <div class="nav-item-container" [routerLink]="'dashboard'" routerLinkActive="active">
          <ion-icon name="grid"></ion-icon>
        </div>
        <div class="nav-item-container" [routerLink]="'games'" routerLinkActive="active">
          <ion-icon name="flag"></ion-icon>
        </div>
        <div class="nav-item-container" [routerLink]="'member'" routerLinkActive="active">
          <ion-icon name="people"></ion-icon>
        </div>
        <div class="nav-item-container" [routerLink]="'stats'" routerLinkActive="active">
          <ion-icon name="stats-chart"></ion-icon>
        </div>
        <div class="nav-item-container" [routerLink]="'events'" routerLinkActive="active">
          <ion-icon name="stats-chart"></ion-icon>
        </div>
      </div>

      <div class="nav-page-container-bottom">
        <div class="nav-item-container-bottom" [routerLink]="'events'" routerLinkActive="active">
          <ion-icon name="settings"></ion-icon>
        </div>
      <div class="nav-item-container-bottom" (click)="authService.logout()">
        <ion-icon name="power"></ion-icon>
      </div>
      </div>
    </div>
    <ion-router-outlet></ion-router-outlet>
  }
</ion-content>
