$border-style: 0.5px solid var(--ion-color-list);

.table-toolbar {
  margin: 24px 0;
  display: flex;
  flex-direction: row;
  gap: 24px;

  ion-input, ion-select {
    --background: white;
  }
}

mat-table {
  width: 100%;
  display: block;
  background-color: white;
}


.mdc-data-table__header-cell {
  border: none;
  padding-bottom: 16px
}

.mdc-data-table__row:last-child .mdc-data-table__cell {
  white-space: nowrap;
}

.mdc-data-table__cell:last-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: max-content;
}


.mdc-data-table__header-row {
  width: unset;
  height: auto !important;
  text-transform: uppercase !important;
  font-weight: bolder;
}


// CELL PADDING
mat-header-cell.mat-header-cell, mat-cell.mat-cell, mat-cell.mat-footer-cell {
  padding: 0 16px;
}

mat-row {
  cursor: pointer;
}

.text-header-column {
  font-size: 16px;
  font-weight: bold;
}

.action-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: fit-content;
}

mat-paginator {
  background-color: white;
}

.image-list-container {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  height: 48px;
  width: 48px;
  border-radius: 100px;
}
mat-header-row, mat-row {
  display: flex;
  width: 100%;
}

mat-header-cell, mat-cell {
  flex: 0 0 auto;
  min-width: 120px;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px 16px;
  border-right: $border-style;
  border-bottom: 0.5px solid rgba(var(--ion-color-medium-rgb), 0.5);
}

mat-header-cell {
  font-weight: bold;
  background-color: unset;
}

mat-row, mat-header-row {
  display: flex;
}

mat-header-cell.name-col, mat-cell.name-col {
  flex: 1 1 180px;
}

mat-header-cell.email-col, mat-cell.email-col {
  flex: 1 1 250px;
}

mat-header-cell.action-col, mat-cell.action-col {
  flex: 0 0 60px;
  justify-content: flex-end;
}

.action-col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 0 auto;
  min-width: 80px;
}

